/* Common styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #4289cf;
}


.container {
    padding: 20px;
}


/* Navbar styles */
.navbar {
    background-color: #4289cf;
}


.navbar .navbar-brand {
    color: #4289cf;
    font-weight: bold;
}


.navbar .navbar-nav .nav-link {
    color: #4289cf;
}


.navbar .navbar-nav .nav-link:hover {
    color: #4289cf;
}


/* Header styles */
.header {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}


.header h1 {
    font-size: 2.5rem;
    font-weight: bold;
}


/* Main content styles */
.main {
    margin-top: 50px;
}


.main img {
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 255, 136, 0.5);
    transition: transform 0.3s ease-in-out;
}


.main img:hover {
    transform: scale(1.1);
}


.main p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #495057;
}


/* Footer styles */
.footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}


.footer a {
    color: #ffffff;
}


.footer a:hover {
    color: #f8f9fa;
}



        